* {
  margin: 0;
  padding: 0;
}

a {
  color: #ff014fff;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
  text-decoration: double;
}

.container-1 {
  height: 100%;
  width: 100%;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: black;
  height: 10vh;
  border-bottom: 3px solid #ff014fff;
}

main {
  height: 90vh;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  margin-left: 32px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

@media (max-width: 1299px) {
  body {
    overflow-x: hidden;
  }

  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: black;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }

  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }

  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

/**/

.container-1 {
  width: 100%;
  height: 90vh;
}

.banner {
  background-image: url(imagens/Metaverse\ \(6\).png);
  background-size: cover;
  width: 100%;
  height: 50vh;
  border-bottom: 3px solid #ff014fff;
}

.bannertext {
  padding: 100px;
  margin-left: 50px;
}

.bannertext h2 {
  color: #fff ;
  margin-left: 19%;
  font-size: 12vh;
}

#btn {
  width: 130px;
  margin-top: 2vh;
  height: 35px;
  font-weight: bold;
  color: #ff014fff;
  letter-spacing: 3px;
  margin-left: 35vw;
  background-color: white transparent;
  border-radius: 20px;
  border: 2px solid;
  cursor: pointer;
  transition: transform .3s ease;
}

#btn:hover {
  transform: scale(1.1);
}
h1 {
  font-size: 9vh;
  color: #43020a;
  text-align: center;
  margin-top: 9vh;
}

.text-right {
  margin-top: 5vh;
  margin-left: 10%;
  width: 80%;
  text-align: justify;
}

.logo {
  transition: transform .3s ease;
}

.logo:hover {
  transform: scale(1.1);
}

.org-2 {
 margin-top: -4vh;
}

li {
  transition: transform .3s ease;
}

li:hover {
  transform: scale(1.1);
}

.align {
  margin-top: 8vh;
}

.rede {
  width: 15%;
  height: 30%;
  margin-left: 13vw;
}

h3#miss {
  margin-bottom: 4vh;
  text-align: center;
  font-size: 5vh;
  color: #a10505;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-size: 19px;
  text-align: justify;
}

.h3 {
  margin-top: 3vh;
  margin-bottom: 2vh;
  text-align: center;
  font-size: 4vh;
  color: #a10505;
}

.box {
  margin-top: -20vh;
  width: 150px;
	display: inline-block;
  text-align: center;
  margin-left: 70px;
}

.sec-1 {
  width: 95vw;
  height: 50vh;
}

.item-align {
  margin-left: 19%;
  margin-top: -38vh;
}

span {
  color: #43020a;
  font-size: 18px;
}

.h3-our-6 {
  margin-top: 15vh;
  margin-bottom: 4vh;
  text-align: center;
  font-size: 7vh;
  color: #a10505;
  font-family: Arial, Helvetica, serif;
}

.h3-our-0 {
  margin-bottom: 2vh;
  text-align: center;
  font-size: 9vh;
  color: #ffffff;
}

.frase-0 {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 3vh;
  margin-bottom: 7vh;
}

.frase {
  text-align: center;
  color: rgb(109, 10, 10);
  font-size: 3vh;
  margin-bottom: 7vh;
}

.frase-9 {
  font-size: 3vh;
  color: rgb(109, 10, 10);
  margin-bottom: 15vh;
  display: block;
  margin-top: 1vh;
  text-align: center;
  width: 100%;
}

.img-text-5 {
  float: left;
  margin-bottom: 40vh;
  width: 27%;
  height: 35vh;
  margin-left: 15%;
  margin-top: 6vh;
}

.goal {
  width: 35%;
  height: 60vh;
  text-align: justify;
  float: right;
  margin-top: 17vh;
  margin-right: 15%;
}

.img-text-6 {
  float: right;
  margin-bottom: 40vh;
  width: 27%;
  height: 35vh;
  margin-right: 10%;
  margin-top: 15vh;
}

.goal-1 {
  width: 35%;
  height: 60vh;
  text-align: justify;
  float: left;
  margin-top: 30vh;
  margin-left: 10%;
}

.siiu {
  width: 100%;
  height: 70vh;
}

.txt {
  margin-top: 5vh;
  width: 80%;
  margin-left: 10%;
}

.img-10 {
  width: 80%;
  height: 30vh;
  background-color: #43020a;
  margin-left: 10%;
  margin-top: 7vh;
}

.h3-our-7 {
  margin-top: 93vh;
  margin-bottom: 4vh;
  text-align: center;
  font-size: 7vh;
  color: #a10505;
  font-family: Arial, Helvetica, serif;
}

/*FOOTER*/

footer {
  background-color: #000000ff;
  position: relative;
  overflow-y: hidden;
  width: 98%;
  min-height: 350px;
  padding: 3rem 1rem;
  grid-row-end: auto;
  bottom: -280vh;
  border-top: 3px solid #ff014fff;
}

.container {
  max-width: 1299px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.col {
  min-width: 250px;
  color:#f2f2f2f2;
  font-family: poppins;
  padding:0 2rem;
}

.col .logo {
  width: 100px;
  margin-bottom:25px;
}

.col h3 {
  color:#ff014fff;
  margin-bottom: 20px;
  position: relative;
  cursor: pointer;
}

.col h3::after {
  content: '';
  height:3px;
  width:0px;
  background-color: #ff014fff;
  position: absolute;
  bottom: 0;
  left:0;
  transition: 0.3s ease;

}

.col h3:hover::after {
  width:30px
}

.col .social a i {
  color:#ff014fff;
  margin-top:2rem;
  margin-right: 5px;
  transition: 0.3s ease;
}

.col .social a i:hover {
  transform: scale(1.5);
  filter:grayscale(25);
}

.col .links a {
  display: block;
  text-decoration: none;
  color:#f2f2f2;
  margin-bottom: 5px;
  position: relative;
  transition: 0.3s ease;
}

.col .links a::before {
  content:'';
  height: 16px;
  width:3px;
  position: absolute;
  top:5px;
  left:-10px;
  background-color: #ff014fff;
  transition: 0.5s ease;
  opacity: 0;
}

.col .links a:hover::before {
  opacity: 1;
}

.col .links a:hover {
  transform: translateX(-8px);
  color:#ff014fff;
}

.col .contact-details {
  display: inline-flex;
  justify-content: space-between;
}

.col .contact-details i {
  margin-right:15px;
}

.row .form{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:2rem 0;
}

.row .form input {
  background-color: #1a1c20ff;
  border:0;
  outline:none;
  padding:14px 20px;
  border-radius: 6px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.col#contact {
  margin-top: -2%;
}

.form button {
  padding:14px 20px;
  border:0;
  border-radius: 6px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #ff014fff;
}

i .fa-paper-plane {
  transition: transform .3s ease;
}

p#copy {
  margin-top: 3vh;
  font-size: 12px;
}

p#rea {
  margin-top: -5vh;
}

.i fa-paper-plane:hover {
  transform: scale(1.1);
}

/********** Responsive Design ********/
@media (max-width:1299px)
{
.row{
  flex-direction: column;
}

.col{
  width: 100%;
  text-align: left;
  margin-bottom: 25px;
}
}

@media (max-width:768px)
{
.row {
  flex-direction: column;
}

.col {
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
}
}